tenant_id                                        = "YOUR-TENANTID"
subscription_id                                  = "YOUR-SUBSCRIPTIONID"
resource_group_name                              = "rg-MyWorkID"
resource_location                                = "westeurope"
api_name                                         = "REPLACE-WITH-UNIQUE-APPSERVICE-NAME"
binaries_zip_path                                = "REPLACE-WITH-FULL-PATH-TO-ZIP"
dismiss_user_risk_auth_context_id                = "c1"
generate_tap_auth_context_id                     = "c1"
reset_password_auth_context_id                   = "c1"
skip_creation_backend_access_groups              = false
skip_actions_requiring_global_admin              = false
verified_id_jwt_signing_key_secret_name          = "VerifiedId-JwtSigningKey"
verified_id_decentralized_identifier_secret_name = "VerifiedId-DecentralizedIdentifier"
verified_id_verify_security_attribute_set        = "myWorkID"
verified_id_verify_security_attribute            = "lastVerifiedFaceCheck"