tenant_id                                        = "YOUR_TENANTID"
subscription_id                                  = "YOUR_SUBSCRIPTIONID"
resource_group_name                              = "rg-MyWorkID"
resource_location                                = "westeurope"
api_name                                         = "REPLACE_WITH_UNIQUE_APPSERVICE_NAME" # Name of the AppService that hosts the api. Note this has to be globally unique.
custom_domains                                   = [] # List of custom domains for MyWorkId. Must be configured at a later time. NOTE: If sepcified the VerifiedId callbacks will always use the first domain in the list.
binaries_zip_path                                = "REPLACE_WITH_FULL_PATH_TO_ZIP" # Path where binaries are located
dismiss_user_risk_auth_context_id                = "REPLACE_WITH_AUTHCONTEXT" # AuthContext Id configured that is challenged for the dismissUser action
generate_tap_auth_context_id                     = "REPLACE_WITH_AUTHCONTEXT" # AuthContext Id configured that is challenged for the generateTAP action
reset_password_auth_context_id                   = "REPLACE_WITH_AUTHCONTEXT" # AuthContext Id configured that is challenged for the resetPassword action
skip_creation_backend_access_groups              = false # Value to determine if the backend access groups should be created automatically or if this action should be skipped
skip_actions_requiring_global_admin              = false # Skip actions that require global admin permissions. If set to true you will have to set some settings, like the permission grants, manually. NOTE: If this ever was set to false a change to true will result in the previously set permissions being removed
