button.function_plane__function_component__action{
  width: 100%;
}

div.function_plane__function_component__wrapper > div {
  width: 100%;
}

.hidden_element {
  display: none !important;
}

.user_display {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.user_display__user_info__container{
  margin-left: 10;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.no_margin {
  margin: 0;
}

.function_plane__function_component__loading_spinner__container{
  display: flex;
  justify-content: center;
  margin-top: 10px
}