div.function_plane__function_component_wrapper > div > button {
  width: 100%;
}

div.function_plane__function_component_wrapper > div {
  width: 100%;
}

.hidden_element {
  display: none !important;
}
