name: 'Test Report'
on:
  workflow_run:
    workflows: ['Test CI']
    types:
      - completed

permissions:
  contents: read
  actions: read
  checks: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
    - uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2.3.0
      with:
        artifact: testResults
        name: test report
        path: '*.trx'
        reporter: dotnet-trx
        use-actions-summary: 'false' # Write summary into check run details instead of actions summary
